<html>
    <head>
        <link type="text/css" href="/static/css/blitzer/jquery-ui-1.8.22.custom.css" rel="stylesheet" />
        <script type="text/javascript" src="/static/js/jquery-1.7.2.min.js"></script>
        <script type="text/javascript" src="/static/js/jquery-ui-1.8.22.custom.min.js"></script>
        <link type="text/css" href="/static/style/style.css" rel="stylesheet" />
	
        <script type="text/javascript"
             src="http://maps.googleapis.com/maps/api/js?&sensor=false"> </script>
        <script> <!-- Ajax form submission -->
            $(function() {
                var form = $("#searchform");
                form.submit(function(e) {
                    console.log(form.attr('action'));
                    $("#submitbutton").attr('disabled', true);
                    $.getJSON( form.attr('action'), //url
                    form.serializeArray(),//post data
                    function(responseText, responseStatus) {
                        $("#submitbutton").attr('disabled', false);
                        console.log(responseText);
                        addMarkers(responseText);
                    }
                    );
                    e.preventDefault(); 
                });
            });
        </script> <!-- End Ajax form submission -->

        <script> <!-- progressbar logic -->
        $(function() {
                $( "#progressbar" ).progressbar({
                        value: 37
                });
        });
        </script> <!-- end progressbar logic -->


         <script type="text/javascript"> <!-- Google maps API -->
         // globals
          var curr_info_window = false;   
          var map=false;
          var markersArray = [];

          function initialize_map() 
          {
            var mapOptions = {
            center: new google.maps.LatLng(45.5081 , -73.5550), //hardcoded to montreal's centre
              zoom: 10,
              mapTypeId: google.maps.MapTypeId.ROADMAP
            };
            map = new google.maps.Map(document.getElementById("map_canvas"),
                    mapOptions);
          }

          function addMarkers( results )  
          {
            deleteOverlays(); //remove the old ones
            for( var i in results )
            {
                var res = results[i].fields;
                var mylat = new google.maps.LatLng(res.lat, res.lng);
            
                 var marker = new google.maps.Marker({
                     position: mylat,
                     title: res.rent.toString()
                     });
         
                 marker.setMap(map); 
                 markersArray.push(marker); 
         
                 // Content string
                 var info_data='<b>' + res.title + '</b><br>' +
                     'rent: $'+  res.rent + '<br>'+
                     'date: ' +  res.pub_date + '<br>'+
                     'ad_link: <a href="' +  res.url +  '" target=_blank >Here </a>';
                 listenMarker(map , marker , info_data );
            }
          }

          function listenMarker (map, marker , info_data ) 
          {
                 var info_window = new google.maps.InfoWindow({content: info_data });

                 //click on marker will open popup  
                 google.maps.event.addListener(marker, 'click', function() {
                         if ( curr_info_window )
                         {
                            curr_info_window.close();
                         }
                         info_window.open(map,marker);
                         //update curr_info_window
                         curr_info_window = info_window;
                         });
          }

         function deleteOverlays() {
                 if (markersArray) {
                     for (i in markersArray) {
                         markersArray[i].setMap(null);
                     }
                     markersArray.length = 0;
                }
         }

    </script><!-- End Google maps API -->

    </head>


    <body onload="initialize_map()"> 
    <div id="main">
        <div id="header">
           <div id="logo">
              <div id="logo_text"> <h1> RentalSearch </h1> </div>
           </div>
        </div>
    </div>


        <form action = {% url ads.views.search %} method="post" id="searchform" style="padding-bottom: 8px" >
            {% csrf_token %}
            <p>
            <div class="form_settings" style="float:left">
            <span>Enter Query </span>
            <input name="query" class="contact"/> 
            <input id="submitbutton" type="submit" value="search" class="submit" />
            </p>
        </div>
        <div class="form_settings" style="padding-left:525px;">
                <div id="progressbar" style="width:200px;height:27px"></div>
        </div>
        </form>
        <div id="map_canvas" style="width:100%; height:100%" ></div>

    </body>
</html>
